# IDE, System
.DS_Store
.idea

# App config
/AutoWrapperClose_v2/app/config/parameters.yml

# Generated folders
/AutoWrapperClose_v2/app/*
/assets/
/files/www_rashidbairamov_com/src/images


# Composer package manager
/composer/

# Global xml
/*.xml

# Excludes
