$germany: rgb(147, 154, 255);
$germany_opacity: rgba(147, 154, 255, 0.2);
$azerbaijan: rgb(22, 27, 34);
$luxembourg: #ABB2BF;
$luxembourg_opacity: rgba(171, 178, 191, 0.2);
$france: #fff;


/*
	NEWS-READER;
 */

$rsce: rgba(66, 172, 223, 1);
$rsce_background: rgba(66, 172, 223, 0.7);
$js: #f7df1e;
$js_background: rgba(247, 223, 30, 0.7);

$css: #264de4;
$css_background: rgba(38, 77, 228, 0.7);

/*
	$germany: #C778DD;
$germany_opacity: rgba(199, 120, 221, 0.2);
$azerbaijan: #282C33;
$luxembourg: #ABB2BF;
$luxembourg_opacity: rgba(171, 178, 191, 0.2);
$france: #fff;
 */


