
/*
	MAIN_BUTTON;
 */

@mixin main_button {
  display: inline-block;
  padding: rem-calc( 8px ) rem-calc( 16px );
  color: $france;
  text-decoration: none;
  transition-duration: .3s;
  border: rem-calc( 1px ) solid $germany;

  &:hover {
	color: $france;
	background-color: $germany_opacity;
  }
}

/*
	MAIN_PADDINGS;
 */

@mixin main_padding_bottom {
  padding-bottom: rem-calc( 50px );
  @include media-breakpoint-up( lg ) {
	padding-bottom: rem-calc( 100px );
  }
}