.ce_code {
  margin-bottom: rem-calc( 10px );
  @include media-breakpoint-up( lg ) {
	margin-bottom: rem-calc( 30px );
  }
  h1,h2,h3,h4,h5,h6 {
	font-size: rem-calc( 20px );
	font-weight: 300;
  }

  span {
	position: relative;
	counter-increment: line-count;
	&::before {
	  display: inline-block;
	  padding-right: rem-calc( 20px );
	  content: counter(line-count);
	  color: $luxembourg;
	}
  }
}